.box1 {
    background-color: #EDAE49;
    width: 100%;
    margin-bottom: -38px;
}

h1 {
    color: #393D3F;
    font-size: 4em;
    font-family: monospace;
    text-align: center;
}

.box2 {
    width: 100%;
    margin-bottom: -30px;
}
.webtime{
    color: black;
    text-align: right;
}

.box3 {
    display: inline-block;
    padding-top: -100px;
}

p {
    color: rgb(21, 73, 88);
    font-family: serif;
}

a:link {
    color: rgba(0, 69, 160, 0.712);
}

img {
    
    width: 100%;
    height: 100%;
}

.photo {
    width: 189px;
    height: 252px;
    display: inline-block;
}